@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Barlow', sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-orange: hsla(22, 88%, 52%, 1);
  --clr-orange-hover: hsla(22, 100%, 69%, 1);
  --clr-dark-blue: hsla(220, 50%, 17%, 1);
  --clr-grey-blue: hsla(221, 23%, 58%, 1);
  --clr-grey: hsla(198, 28%, 93%, 1);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-grey-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 1.625;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

/* ================== */
/* Typography */
/* ================== */
.sa__title,
.sb__title,
.sc__title {
  color: var(--clr-dark-blue);
  font-weight: var(--fw-black);
  text-transform: uppercase;
}

.sa__title {
  font-size: var(--fs-48);
  line-height: 1;
  text-align: left;
}

.sa__message {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.sb__title {
  font-size: var(--fs-32);
  line-height: 1.125;
}

.sc__title {
  font-size: var(--fs-24);
  line-height: 1.15;
}

/* ================== */
/* Buttons & inputs */
/* ================== */
.btn {
  background: var(--clr-grey);
  border: none;
  border-radius: 0.5em;
  color: var(--clr-dark-blue);
  cursor: pointer;
  display: inline-block;
  font-weight: var(--fw-bold);
  padding: 0.6em 1em;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background: var(--clr-dark-blue);
  color: var(--clr-white);
}

.btn.btn--sa {
  background: var(--clr-orange);
  color: var(--clr-white);
}

.btn.btn--sa:hover,
.btn.btn--sa:focus {
  background: var(--clr-orange-hover);
}

/* ================== */
/* Utility styles */
/* ================== */

.bold {
  font-weight: var(--fw-bold);
}

.tablet-img,
.desktop-img {
  display: none;
}

.wrapper {
  overflow: hidden;
  margin: 1.5em 0;
}

.container {
  padding: 0 1.5em;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* Header */
.header {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  margin-top: 4em;
}

/* Section A */
.sa__copy-area {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sa__copy-area .copy-text {
  margin-top: 2em;
  text-align: left;
}

.sa__button-area {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2em;
  width: 100%;
}

.sa__message {
  margin-right: 1em;
}

.sa__image-area {
  margin-top: 4em;
}

.sa__image-area .mobile-img,
.sa__image-area .tablet-img,
.sa__image-area .desktop-img {
  border-radius: 1em;
  margin-left: 1.5em;
}

/* Section B */
.section-b {
  margin-top: 1.5em;
}

.sb__image-area {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  margin-left: -1.5em;
  margin-right: 1.5em;
}

.sb__image-area .mobile-img,
.sb__image-area .tablet-img,
.sb__image-area .desktop-img {
  border-radius: 1em;
  mix-blend-mode: multiply;
}

.image-wrapper-1 {
  background: var(--clr-orange);
  border-radius: 1em;
}

.sb__copy-area {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 4.5em;
}

.sb__copy-area .copy-text {
  margin-top: 1.5em;
}

.sb__copy-area .sb__title,
.sb__copy-area .copy-text {
  width: 84%;
}

/* Section C */
.section-c {
  margin-top: 7em;
}

.sc__item {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 4em;
}

.sc__icon {
  background: var(--clr-orange);
  border-radius: 0.5em;
  height: 65px;
  width: 65px;
  padding: 1em;
}

.icon-svg {
  display: block;
  margin: auto;
}

.sc__title {
  margin-top: 2em;
  width: 50%;
}

.sc__item .copy-text {
  margin-top: 1.5em;
  width: 87%;
}

/* Footer */

.footer {
  margin-top: 6em;
  padding-bottom: 2em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  /* UTILITY STYLES */
  .mobile-img,
  .desktop-img {
    display: none;
  }

  .tablet-img {
    display: block;
  }

  .wrapper {
    margin: 2.5em 0 0;
  }

  .container {
    padding: 0 2.5em;
  }

  /* SECTIONS */

  /* Section A */
  .section-a {
    /* Grid */
    display: grid;
    grid-template-columns: 58% 62%;
  }

  .sa__image-area {
    margin-top: 0em;
  }

  .sa__image-area .mobile-img {
    margin-left: 0;
  }

  /* Section B */
  .section-b {
    margin-top: 2.5em;
  }

  .sb__image-area {
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    margin-left: auto;
    margin-right: auto;
    padding: 0 2.5em;
  }

  .sb__copy-area {
    /* Flex */
    flex-direction: row;
    justify-content: space-between;

    padding: 0 2.5em;
  }

  .sb__title,
  .sb__copy-area .copy-text {
    text-align: left;
  }

  .sb__copy-area .sb__title {
    width: 30%;
  }

  .sb__copy-area .copy-text {
    width: 57%;
    margin: 0;
    padding: 0;
  }

  /* Section C */
  .section-c {
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin-top: 4.25em;
    padding: 0 2.5em;
  }

  .sc__item {
    /* Flex */
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 4.5em;
  }

  .sc__title {
    text-align: left;
    width: 55%;
  }

  .sc__item .copy-text {
    text-align: left;
    width: 81%;
  }

  .footer {
    margin-top: 8.75em;
    padding-bottom: 3em;
  }
}

/* Widescreen */
@media (min-width: 1440px) {
  /* TYPOGRAPHY */
  .sa__title {
    font-size: var(--fs-56);
  }

  .copy-text {
    font-size: var(--fs-18);
  }

  .sc__item .copy-text {
    font-size: var(--fs-16);
  }

  /* UTILITY STYLES */
  .mobile-img,
  .tablet-img {
    display: none;
  }

  .desktop-img {
    display: block;
  }

  .wrapper {
    margin: 3.5em 0 0;
  }

  .container {
    padding: 0em;
  }

  /* SECTIONS */

  .header {
    margin: 0 auto;
    padding: 0;
    max-width: 1110px;
  }

  .section-a {
    /* Grid */
    grid-template-columns: 51% 49%;

    margin: 0 auto;
    margin-top: 5em;
    position: relative;
    max-width: 1110px;
  }

  .section-a::after {
    content: '';

    /* Position */
    position: absolute;
    top: 0;
    right: 0;

    background: var(--clr-grey);
    border-radius: 2em;
    height: 50%;
    transform: translateX(115%);
    width: 200px;
  }

  .sa__copy-area {
    width: 80%;
  }

  .sa__button-area {
    /* Flex */
    justify-content: flex-start;
    gap: 2.5em;
  }

  .sa__image-area .desktop-img {
    margin-left: 0em;
  }

  /* Section B */
  .section-b {
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2.5em auto 0;
    position: relative;
    max-width: 1110px;
  }

  .section-b::after {
    content: '';

    /* Position */
    position: absolute;
    bottom: 0;
    left: 0;

    background: var(--clr-grey);
    border-radius: 2em;
    height: 50%;
    transform: translateX(-115%);
    width: 200px;
  }

  .sb__image-area {
    padding: 0;
  }

  .sb__copy-area {
    /* Fles */
    flex-direction: column;
    align-items: flex-end;

    margin: 0;
    padding: 0;
    width: 66%;
  }

  .sb__copy-area .sb__title,
  .sb__copy-area .copy-text {
    width: 77%;
  }

  .sb__copy-area .copy-text {
    margin-top: 1.5em;
  }

  .section-c {
    /* Grid */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1.9em;

    margin: 10.5em auto 0;
    padding: 0;
    max-width: 1110px;
  }

  .sc__item {
    margin-top: 0;
  }

  .sc__title {
    width: 70%;
  }

  .sc__item .copy-text {
    width: 100%;
  }
}
